<div class="row">
<div class="span12">
<h2>{{host.hostname}}</h2>
<table class="table">
<tr>
	<td>Description</td><td>{{host.description}}</td>
</tr>
<tr>
	<td>Tags</td><td>{{host.tags}}</td>
</tr>
<tr>
	<td>Homes</td>
	<td>
		<table class="table">
			<tbody ng-repeat="home in host.homes">
				<tr><td rowspan={{home.hostnames.length}}>{{home.name}}</td><td rowspan={{home.hostnames.length}}>{{home.ip}}</td><td>{{home.hostnames[0].val}}</td></tr>
				<tr ng-repeat="hostname in home.hostnames.slice(1)"><td>{{hostname.val}}</td></tr>
			</tr>
		</table>
	</td>

</tr>
</table>
</div>
<div class="span11 offset1">
	<input type="button" class="btn btn-primary" value="Edit" ng-click="edit()"/>
	<input type="button" class="btn btn-primary" value="Back" ng-click="back()"/>
</div>
</div>

