<div class="row">
<div class="col-xs-12">
<h2>Edit {{host.hostname}}</h2>
<table class="table">
<tr>
	<td>Hostname</td><td><input type="text" ng-model="host.hostname" class="form-control"/></td>
</tr>
<tr>
	<td>Description</td><td><input type="text" ng-model="host.description" class="form-control"/></td>
</tr>
<tr>
	<td>Tags</td>
	<td>
		<div class="label label-default" ng-repeat="tag in host.tags">{{tag}}<a ng-click="host.tags.splice($index,1)"><span class="glyphicon glyphicon-remove"></span></a></div>
		 <div class="input-group col-xs-4">
			 <input type="text" ng-model="newTag" placeholder="new tag" class="form-control">
			 <span class="input-group-btn"><input class="btn btn-default" type="button" value="add" ng-click="addTag()"></span>
		 </div>
	</td>
</tr>
<tr>
	<td>Homes</td>
	<td>
		<table class="table">
			<tr><th>Interface Name</th><th>IP Address</th><th>Hostname</th></tr>
			<tbody ng-repeat="home in host.homes | orderBy:order">
				<tr>
					<td rowspan="{{home.hostnames.length+1}}"><div class="input-group"><input  class="form-control" type="text" ng-model="home.name"/><span class="input-group-addon"><a ng-click="host.homes.splice($index,1)"><span class="glyphicon glyphicon-remove"></span></a></span></div></td>
					<td rowspan="{{home.hostnames.length+1}}"><input  class="form-control" type="text" ng-model="home.ip"/></td>
					<td><div class="input-group"><input class="form-control" type="text" ng-model="home.hostnames[0].val"/><span class="input-group-addon"><a ng-click="home.hostnames.splice(0,1)"><span class="glyphicon glyphicon-remove"></span></a></span></div></td>
				</tr>
				<tr ng-repeat="hostname in home.hostnames.slice(1)">
					<td><div class="input-group"><input class="form-control" type="text" ng-model="hostname.val"/><span class="input-group-addon"><a ng-click="home.hostnames.splice($index+1,1)"><span class="glyphicon glyphicon-remove"></span></a></span></div></td>
				</tr>
				<tr><td><input class="btn btn-primary" type="button" value="+" ng-click="addHostname(home)"/></td></tr>
			</tbody>
			<tr><td><input class="btn btn-primary" type="button" value="Add home" ng-click="addHome(host.homes)"/></td></tr>
		</table>
	</td>
</tr>
</table>
</div>
<div class="col-xs-11 col-xs-offset-1">
	<input type="button" class="btn btn-primary" value="Save" ng-click="save()"/>
	<input type="button" class="btn btn-primary" value="Reset" ng-click="reset()"/>
	<input type="button" class="btn btn-primary" value="Cancel" ng-click="cancel()"/>
</div>
</div>
