<div class="row">
<div class="span12">
<h2>Edit {{host.hostname}}</h2>
<table class="table">
<tr>
	<td>Hostname</td><td><input type="text" ng-model="host.hostname"/></td>
</tr>
<tr>
	<td>Description</td><td><input type="text" ng-model="host.description"/></td>
</tr>
<tr>
	<td>Tags</td>
	<td>
		<ul class="inline"><li ng-repeat="tag in host.tags">{{tag}}<a ng-click="host.tags.splice($index,1)"><i class="icon-remove"></i></a></ul>
		 <div class="input-append">
			 <input type="text" ng-model="newTag" size="30" placeholder="new tag">
			 <input class="btn btn-primary" type="button" value="add" ng-click="addTag()">
		 </div>
	</td>
</tr>
<tr>
	<td>Homes</td>
	<td>
		<table class="table">
			<tbody ng-repeat="home in host.homes">
				<tr><th>Interface Name</th><th>IP Address</th><th>Hostname</th></tr>
				<tr>
					<td rowspan="{{home.hostnames.length+1}}"><input type="text" ng-model="home.name"/><a ng-click="host.homes.splice($index,1)"><i class="icon-remove"></i></a></td>
					<td rowspan="{{home.hostnames.length+1}}"><input type="text" ng-model="home.ip"/></td>
					<td><input type="text" ng-model="home.hostnames[0].val"/><a ng-click="home.hostnames.splice(0,1)"><i class="icon-remove"></i></a></td>
				</tr>
				<tr ng-repeat="hostname in home.hostnames.slice(1)">
					<td><input type="text" ng-model="hostname.val"/><a ng-click="home.hostnames.splice($index+1,1)"><i class="icon-remove"></i></a></td>
				</tr>
				<tr><td><input class="btn btn-primary" type="button" value="+" ng-click="addHostname(home)"/></td></tr>
			</tbody>
			<tr><td><input class="btn btn-primary" type="button" value="Add home" ng-click="addHome(host.homes)"/></td></tr>
		</table>
	</td>
</tr>
</table>
</div>
<div class="span11 offset1">
	<input type="button" class="btn btn-primary" value="Save" ng-click="save()"/>
	<input type="button" class="btn btn-primary" value="Reset" ng-click="reset()"/>
	<input type="button" class="btn btn-primary" value="Cancel" ng-click="cancel()"/>
</div>
</div>
