<div class="row">
    <div class="col-xs-12 col-md-8"><h2>Host List</h2></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="input-group">
    	    <input type="text" ng-model="query" placeholder="search..." class="form-control"/>
	    <div class="input-group-btn">
    	      <button class="btn" ng-click="search()">Go</button>
	    </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="inline"><a href="#/newhost">New</a></ul>
        <table class="table table-striped">
        	<tr ng-repeat="h in hosts">
                <td>{{h.primary_ip}}</td>
                <td><a ng-href="#/host/{{h._id}}">{{h.hostname}}</a></td>
                <!--td>{{h.tags}}</td-->
		<td><span ng-repeat="t in h.tags">"{{t}}" </span></td>
                <td>{{h.description}}</td>
                <td><a ng-click="delete(h)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        </table>
    </div>
</div>

